# Convert text file line endings to lf
* text=auto

*.js text eol=lf

# The test fixtures are text files.
/tests/fixtures/**/* text eol=lf
/tests/fixtures/ignored-paths/crlf/.ec0lintignore text eol=crlf
